<nav class="py-2 flex gap-20 justify-center z-10 fixed w-full">
  <button class="py-5 hover:underline transition-all">Home</button><button
    class="py-5 hover:underline transition-all">Work</button
  ><button class="py-5 hover:underline transition-all">Contact</button>
</nav>

<style>
  nav {
    background-color: #f9f7f1;
  }
</style>
