<section
  class="project-section flex justify-center flex-col items-center py-20 px-20"
>
  <h2 class="text-2xl uppercase">My Projects</h2>
  <p class="font-bold mt-6 text-4xl">Here are a few projects I've worked on</p>
  <div class="grid grid-cols-3 gap-10 mt-28">
    <div class="rounded-md flex card w-96">
      <div class="w-full">
        <p class="text-md font-semibold mb-2 flex items-center gap-2">
          <span class="h-2 w-2 inline-block rounded-full bg-green-300"></span> Athayog
          Living
        </p>

        <div
          class="bg-white shadow-md p-6 rounded-md hover:shadow-xl h-52 transition-shadow flex flex-col gap-5 justify-around"
        >
          <div class="w-full flex justify-center items-start gap-5">
            <img src="/og.png" alt="" class="w-24 p-2 rounded-md" />
            <p class="">
              Built the entire website architecture to help them increase their
              customer base & sell their courses
            </p>
          </div>
          <button class="bg-green-100 px-5 py-2 rounded-md">View Website</button
          >
        </div>
      </div>
    </div>
    <div class="rounded-md flex w-96">
      <div class="w-full h-full">
        <p class="text-md font-semibold mb-2 flex items-center gap-2">
          <span class="h-2 w-2 inline-block rounded-full bg-yellow-300"></span> Royal
          Brothers
        </p>
        <div
          class="bg-white shadow-md p-6 rounded-md hover:shadow-xl h-52 transition-shadow flex flex-col gap-5 justify-around"
        >
          <div class="w-full flex justify-center items-start gap-5">
            <img src="/royal.png" alt="" class="w-24 p-2 rounded-md" />

            <p class="">
              Revamped Website UI to a newer modern design for better customer
              retention with SEO boost
            </p>
          </div>
          <button class="bg-green-100 px-5 py-2 rounded-md">View Website</button
          >
        </div>
      </div>
    </div>
    <div class="rounded-md flex w-96">
      <div class="w-full h-full">
        <p class="text-md font-semibold mb-2 flex items-center gap-2">
          <span class="h-2 w-2 inline-block rounded-full bg-pink-300"></span> Rapid
          Store
        </p>
        <div
          class="bg-white shadow-md p-6 rounded-md hover:shadow-xl h-52 transition-shadow flex flex-col gap-5 justify-around"
        >
          <div class="w-full flex justify-center items-start gap-5">
            <img src="/store.svg" alt="" class="w-24 p-2" />
            <p class="">
              A Full-Stack E-Commerce Shoe Store Built Using Commerce JS,
              Stripe, Chakra UI & NextJS
            </p>
          </div>
          <button class="bg-green-100 px-5 py-2 rounded-md">View Website</button
          >
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .project-section {
    background-color: #f4f7fd;
  }
</style>
