<section class="py-48 stack">
  <div class="max-w-screen-xl m-auto">
    <h3 class="text-left font-bold text-5xl">
      Technologies i have leared through years
    </h3>
    <div class="flex justify-start items-baseline gap-10 mt-16 text-xl">
      <p>HTML</p>
      <p>CSS</p>
      <p>JavaScript</p>
      <p>Postgres</p>
      <p>NextJS</p>
      <p>ReactJS</p>
      <p>Ruby</p>
      <p>Firebase</p>
      <p>NodeJS</p>
      <p>Typescript</p>
      <p>Tailwind</p>
    </div>
  </div>
</section>

<style>
  .stack {
    background-color: #f9f7f1;
  }
</style>
