---
const stacks = [
  "HTML",
  "CSS",
  "JavaScript",
  "PostgreSQL",
  "NextJS",
  "ReactJS",
  "Ruby",
  "Firebase",
  "NodeJS",
  "Typescript",
  "Tailwind",
];
---

<section class="py-16 md:py-32 lg:py-48 stack px-4">
  <div class="max-w-screen-xl m-auto">
    <h3 class="text-left font-bold text-3xl md:text-4xl lg:text-5xl">
      Technologies i have learned through years
    </h3>
    <div
      class="flex justify-start items-baseline gap-10 mt-16 text-xl flex-wrap"
    >
      {stacks.map((stack) => <p>{stack}</p>)}
    </div>
  </div>
</section>

<style>
  section {
    background-color: #f9f7f1;
  }
  p {
    color: #034f4d;
    cursor: default;
  }
</style>
