<section
  class="flex justify-center bg-white items-center py-10 md:py-16 lg:py-20 flex-col gap-2 px-4"
>
  <!-- Progress -->

  <h2 class="font-semibold text-4xl text-center">Timeline</h2>
  <ol class="relative border-l border-gray-200 dark:border-gray-700 mt-10">
    <li class="mb-10 ml-4">
      <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
      >
      </div>
      <time
        class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
        >September 2021 - Present</time
      >
      <h3 class="text-lg font-semibold text-gray-900">
        Started as a Front-End Developer at Increasingly
      </h3>
      <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
        Responsible for handling integration/development of IncreasinglyAI
        product to ecommerce solutions (Samsung,Motorola,Avon)
      </p>
    </li>
    <li class="mb-10 ml-4">
      <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
      >
      </div>
      <time
        class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
        >November 2020 - Present</time
      >
      <h3 class="text-lg font-semibold text-gray-900">
        Started as a freelancer at Athayog Living
      </h3>
      <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
        Built the entire website architecture from Front-End to Back-End to help
        them increase their customer base & sell their courses
      </p>
    </li>
    <li class="mb-10 ml-4">
      <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
      >
      </div>
      <time
        class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
        >April 2019 - November 2020</time
      >
      <h3 class="text-lg font-semibold text-gray-900">
        Promoted to Full Stack Developer at Royal Brothers
      </h3>
      <p class="text-base font-normal text-gray-500 dark:text-gray-400">
        Revamped Website UI to a newer modern design for better customer
        retention with SEO boost
      </p>
    </li>
    <li class="ml-4">
      <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
      >
      </div>
      <time
        class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
        >February 2019</time
      >
      <h3 class="text-lg font-semibold text-gray-900">
        Intern at Royal Brothers
      </h3>
      <p class="text-base font-normal text-gray-500 dark:text-gray-400">
        Responsible for handling Front-End Tech and upgrading wesbite to new
        design
      </p>
    </li>
  </ol>
  <div class="text-center text-lg mt-2 flex flex-col gap-5 w-3/4"></div>
</section>
